
.header {
  min-height: 64px;
}

.container {
  width: 1050px;
    // height: 500px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  min-width: 300px;//   text-align: center;
}

// .main-box{
//   background-color: white;
//   margin-top: 25px;
// }

.title{
  height: 55px;
  background-color: #f7f7f7;
  // background-color: white;
  // border-bottom: 2px solid rgb(240, 239, 239);
  border-bottom: 1px solid rgb(221, 219, 219);
}

h4{
  margin-top: 0%;
  padding-top: 15px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  // color: #0000FF;
}



// mat-cell{
//   display:flex !important;
//   justify-content:center!important;
  
  
// }



// mat-header-cell {
//   display:flex;
//   justify-content:center;
// }



  // .table{
  //   width: 100%;
  //   th{
  //     color: red !important;
  //     padding: 10px;
  //   }
  //   tr{
  //     border-bottom: 2px bold #f7f7f7;
  //   }
  // }
