 <div class="header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
  </mat-form-field>
</div>

<div class="container shadow p-0" [@bounceIn]="bounceIn">
  <div class="title">
    <h4>List of Dropped Promos</h4>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial no.</th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>


    <ng-container matColumnDef="model_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Model Name</th>
      <td mat-cell *matCellDef="let row">{{ row.model_name }}</td>
    </ng-container>

    <ng-container matColumnDef="lat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
      <td mat-cell *matCellDef="let row">{{ row.lat }}</td>
    </ng-container>

    <ng-container matColumnDef="lng">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
      <td mat-cell *matCellDef="let row">{{ row.lng }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{ row.time }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="center" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>